@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

p[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	margin-bottom: 0.5em;
	padding-left: 2em;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:valediction"]{
	margin-top: 0.5em;
	padding-left: 2em;
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	padding-left: 2em;
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}
